<div class="dogFood">
    <h2>Dog Food Brands</h2>

        {{#each dog_brands}}
         <ul>
            <li>
                <h2>{{brand}}</h2>
                    {{#each types}}
                    <ul>
                        <li>
                          <h3>{{this.name}}</h3>
                          {{#each volumes}}
                              <ul>
                                  <li><i>{{this.size}} &ensp; {{this.price}}&ensp; </i>
                                  {{!-- <button id="delete">Add To Cart</button></li> --}}
                              </ul>
                          {{/each}}
                        </li>
                    </ul>
                    {{/each}}
            </li>
        </ul>
        {{/each}}
</div>
